@font-face {
  font-family: tbcx;
  src: url("/fonts/TBCXRegular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: tbcx;
  src: url("/fonts/TBCXMedium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: tbcx;
  src: url("/fonts/TBCXBold.woff2") format("woff2");
  font-weight: 700;
}
