$tablet-size: 769px;
$desktop-size: 1025px;
$desktop-lg-size: 1441px;

@mixin tablet {
  @media (min-width: $tablet-size) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-size) {
    @content;
  }
}
@mixin desktop-lg {
  @media (min-width: $desktop-lg-size) {
    @content;
  }
}
