$tablet-size: 768px;
$desktop-size: 1024px;
$desktop-lg-size: 1440px;

@mixin custom($size) {
  @media (min-width: $size) {
    @content;
  }
}
@mixin custom-max($size) {
  @media (max-width: $size) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-size + 1}) {
    @content;
  }
}
@mixin tablet-max {
  @media (max-width: $tablet-size) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-size + 1}) {
    @content;
  }
}
@mixin desktop-max {
  @media (max-width: $desktop-size) {
    @content;
  }
}
@mixin desktop-lg {
  @media (min-width: #{$desktop-lg-size + 1}) {
    @content;
  }
}
@mixin desktop-lg-max {
  @media (max-width: $desktop-lg-size) {
    @content;
  }
}

// line clamp
@mixin line-clamp($lines: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// hide input number arrows
@mixin hide-number-input-arrows {
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    appearance: textfield;
  }
}

// hide browser default scrollbars
@mixin hide-default-scrollbars {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
