// container
$container-width: 1110px;
$side-padding-sm: 15px;
$side-padding-md: 45px;
$side-padding-lg: 47px;

// colors
$foreground: #555f62;
$background: #f9fafa;

$primary: #182cc0;
$primary-hover: #3295ce;
$primary-gradient: linear-gradient(15deg, #001682, #3240e5);
$primary-foreground: #fff;

$black: #141719;
$border-color: #eef1f1;
