@import "fonts";
@import "mixins";
@import "vars";
@import "defaults";

@import "components/header";
@import "components/breadcrumbs";
@import "components/main";
@import "components/hero";
@import "components/msgsection";
@import "components/choose-group";
@import "components/stats";
@import "components/offers";
@import "components/sectionproducts";
@import "components/awards";
@import "components/digitalbank";
@import "components/footer";
@import "components/kebabmenu";

@import "components/btn";

:root {
  --swiper-scrollbar-size: 2px;
  --swiper-scrollbar-bg-color: #d1d5d6;
  --swiper-scrollbar-drag-bg-color: #{$primary};
  --swiper-scrollbar-bottom: 0;
  --swiper-scrollbar-sides-offset: 0px;
}
